{% extends 'base.html' %}

{% block body %}
    <main role="main" class="container">
        <div class="starter-template">
            <h1>Password reset</h1>
            <p>
                Забыли пароль? Введите свой адрес электронной
                почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.
            </p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Reset Password</button>
            </form>
        </div>
    </main>
{% endblock %}